body {
  margin: 0;
  overflow: auto;
}

#container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/img/bgimg.jpg");
  max-height: 100vh;
  overflow: auto;
  scroll-snap-type: y;
}

/* Header and Links */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Geo", sans-serif;
  width: 100%;
  background: linear-gradient(#f4f1ea, #eae7e0);
  position: sticky;
  top: 0px;
  left: 0px;
}

.header a {
  text-decoration: none;
  text-align: center;
  width: 15em;
  height: 100%;
  color: #000;
}

#index-link {
  padding: 12px 0;
  font-size: 2em;
}

#github-link {
  padding: 21px 0;
  font-size: 1em;
}

.header a:hover {
  background: linear-gradient(#f28c27, #f2821d);
}

/* Items */

.item {
  height: 100vh;
  font-family: "Geo", sans-serif;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 3px white;
  scroll-snap-align: center;
}

.item-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#f4f1ea, #eae7e0);
  width: 80vw;
  height: 60vh;
  padding: 7px;
  border-radius: 10px;
}

.item-img {
  max-height: 70%;
  max-width: 40%;
  border-radius: 15px;
  margin: auto;
}

.item-content {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 10px;
  overflow: auto;
}

/* Index */

#index .item-img {
  transform: rotate(340deg);
}
#index h2 {
  padding-bottom: 15px;
  border-bottom: solid #f28c27 0.5px;
}

/* Whatever People Say I Am That's What I'm Not */

#wpsiatwin {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/img/whatever.jpg");
  background-color: linear-gradient(#888888, #bbbbbb);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
